.chat-history-container {
    width: 100%;
    height: calc(100% - 30px);
    /* background-color: red; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.chat-history-search-box-container{
    width: 100%;
    height: 15%;
    /* background-color: lightblue; */
}
.chat-history-search-box-form{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-history-search-box-input{
    width: 95%;
    height: 70%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    padding-left: 8px;
}
.chat-history-search-box-input:focus {
  outline: none;
}
.chat-history-list-title{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightcoral; */
    font-size: 1em;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
}
.chat-history-list-container{
    width: 100%;
    height: 80%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    padding-bottom: 20px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */

}
.chat-history-list-item{
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.chat-history-list-item-description{
    width: 80%;
    height: 100%;
    /* background-color: blue;    */
    display: flex;
    align-items: center;
}
.chat-history-list-item-date{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    text-align: right;
}