:root{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Add this universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden; 
  color: white;
  -webkit-app-region: drag;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.response-area{
  width: 97%;
  height: 95%;
}